<% include partials/header %>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1>New Item</h1>
			<form action="/todos" method="POST" id="new-todo-form">
				<div class="form-group">
					<label for="new-item">Item Text</label>
					<input type="text" name="todo[text]" class="form-control" placeholder="Walk the dog" id="new-item">
				</div>
				<button class="btn btn-primary">Create Item</button>
			</form>

			<h1>To Do Items</h1>
			<ul class="list-group" id="todo-list">
			<% todos.forEach(function(todo){ %>
				<li class="list-group-item">
					<form action="/todos/<%=todo._id%>" method="POST" class="edit-item-form">
						<div class="form-group">
							<label for="<%=todo._id%>">Item Text</label>
							<input type="text" value="<%= todo.text %>" name="todo[text]" class="form-control" id="<%=todo._id%>">
						</div>
						<button class="btn btn-primary">Update Item</button>
					</form>
					<span class="lead">
						<%= todo.text %>
					</span>
					<div class="pull-right">
						<button class="btn btn-sm btn-warning edit-button">Edit</button>
						<form style="display: inline" method="POST" action="/todos/<%=todo._id%>" class="delete-item-form">
							<button type="submit" class="btn btn-sm btn-danger">Delete</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</li>
			<% }); %>
			</ul>

		</div>
	</div>

<% include partials/footer %>


